:root {
  --text-logo-fontsize: 2rem;
  --text-title-fontsize: 1.25rem;
  --text-content-fontsize: 1.15rem;
  --text-description-fontsize: 0.85rem;

  --text-logo-color: #333333;
  --text-title-color: #111111;
  --text-content-color: #222222;
  --text-description-color: #444444;



  --font-family: "Noto Serif SC", serif, Sans-serif;
}

@media (max-width: 768px) {
  :root {
    --text-logo-fontsize: 1.75rem;
    --text-title-fontsize: 1.1rem;
    --text-content-fontsize: 1rem;
    --text-description-fontsize: 0.8rem;
  }
}

body {
  font-family: var(--font-family);
}

@font-face {
  font-family: "Bungee Shade";
  src: url("/fonts/df5ffbcecbcd3501db3619de3f43e3ba.ttf") format("truetype");
}
