---
import Layout from '../layouts/Layout.astro'

interface Logs {
  author: string
  date: string
  content: string
  images?: string[]
}

const logs: Logs[] = [
  // 新文章写在最上方
  {
    author: 'Almango',
    date: '2026-04-23 14:01:15',
    content: '看来是我的期望太高了，异环并没有想象中的那么好玩，我不关心打斗和剧情，只是觉得相比GTA5，它还是太保守了。 '
  },
  {
    author: 'Almango',
    date: '2026-04-23 13:40:08',
    content: '新推出的 ChatGPT-Image2 太逆天了，又一次刷新了图片生成的高度，此前生成的图片都带着一股AI味，现在真就分不清哪张是现实了。'
  },
  {
    author: 'Almango',
    date: '2026-04-19 21:39:00',
    content: '由于正在完善主题，评论系统暂时关闭，如有意可邮箱联系我。'
  },
  {
    author: 'Almango',
    date: '2026-04-19 17:49:20',
    content: '没能想到，随手写的小项目居然把两个托管平台的月流量都用光了，为了保证博客能正常访问，我只能临时部署在 cf 了。对于那个小项目，我决定暂时关闭……'
  },
  {
    author: 'Almango',
    date: '2026-04-18 14:32:08',
    content: '考虑了很久，最终还是打算另起炉灶，重新设计一个更简洁的博客主题。'
  },
]

const title = '日记'
---

<Layout title={title}>
  <div class="logs">
    {logs.map(log => (
      <article class="logs-item">
        <div class="logs-meta">
          <span class="logs-author">{log.author}</span>
          <span class="logs-published">{log.date}</span>
        </div>
        <p class="logs-content">{log.content}</p>
      </article>
    ))}
  </div>
</Layout>

<style>
  .logs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0;
  }

  .logs-item {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .logs-meta {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .logs-author {
    font-weight: var(--text-weight);
    color: var(--text-title-color);
  }

  .logs-published {      
    font-size: var(--text-description-fontsize);
    color: var(--text-description-color);
  }

  .logs-content {
    font-size: var(--text-content-fontsize);
    color: var(--text-content-color);
    line-height: 1.8;
    margin: 0;
  }
</style>
